<div class="mt-4">
  <p-panel header="Gestión de Procesos Auxiliares">
      La aplicación de Gestión de Procesos Auxiliares para Aplicaciones, o GPA, tiene varios objetivos:
      <ul>
        <li>La centralización de este tipo de tareas en un solo entorno.</li>
        <li>La seguridad en la ejecución de los procesos.</li>
        <li>Agilizar los procesos de resolución de incidencias.</li>
        <li>Eliminar la necesidad de tener un alto conocimiento del diseño de la aplicación y de los distintos entornos donde se pueda ejecutar.</li>
        <li>Mostrar información sobre los datos o procesos a ejecutar que con los métodos tradicionales, procesos batc, scripts, procedimientos almacenados, no podemos obtener.</li>
        <li>Facilitar la depuración de los procesos auxiliares.</li>

      </ul>

  </p-panel>

</div>
